input.svelte-hwqdr1{width:100%}.dropdown.svelte-hwqdr1{border:1px solid var(--nc-bg-2);padding:6px 12px}.option.svelte-hwqdr1{cursor:pointer}.option.svelte-hwqdr1:hover{background-color:var(--nc-bg-2)}
