.value.svelte-1tjij9f{justify-self:end;display:inline-flex;align-items:baseline}.float-part.svelte-1tjij9f{font-size:.6em}.unit-symbol.svelte-1tjij9f{padding-left:.2ch;font-size:.8em;color:var(--nc-tx-1)}
