    /**
     * {{ method }} {{ routePath }}
     * Authentication: {{ authentication }}
     */
    {{ name }}: async ({{ params }}): Promise<{{ outputType }}> =>
        this.fetch<{{ endpointBundleType }}>(
            '{{ routePath }}'{{ pathParamsTransform }},
            {{ bodyArg }},
            { {% if hasInput %}inputSchema: schemas.{{ inputSchemaName }}, {% endif %}outputSchema: schemas.{{ outputSchemaName }}, endpoint: '{{ module }}.{{ name }}' },
            { method: '{{ method }}' },
            { type: '{{ authentication }}' }
        ),
