<!DOCTYPE html>
<html>
<head>
<title>Clipboard</title>
</head>
<body>
<ul>
   {{#entries}}
    <li>
        {{name}}
        {{#contentIsLink}}
        - <a href="{{{content}}}">{{{content}}}</a>
        {{/contentIsLink}}
        {{^contentIsLink}}
        - {{content}}
        {{/contentIsLink}}
        {{#s3PresignedUrl}}
        - <a href="{{s3PresignedUrl}}">Download</a>
        {{/s3PresignedUrl}}
    </li>
    {{/entries}}
</ul>
</body>
</html>
