<!DOCTYPE html>
<html>
<head>
 <title>Clipboard</title>
</head>
<body>
 <ul>
   {{#entries}}
            <li>{{name}} - <a href={{content}}>{{content}}</a></li>
   {{/entries}}
 </ul>
</body>
</html>
